html {
	font-size: 62.5%; /* 10÷16=62.5% */
}
@media only screen and (min-width: 481px){
	html {
		font-size: 94%!important; /* 15.04÷16=94% */
	}
}
@media only screen and (min-width: 561px){
	html {
		font-size: 109%!important; /* 17.44÷16=109% */
	}

}
@media only screen and (min-width: 641px){
	html {
		font-size: 125%!important; /* 20÷16=125% */
	}
}

/* 以屏幕640px为例 */
/*给margin padding 设置rem*/
margin-top:.5rem; /*10 ÷ 20 = 0.5*/
padding-top:1rem /* 20 ÷ 20 =1 */

/*给height width 设置rem*/
height:100px; /* 100 ÷ 20 = 5rem;*/
width:50px; /* 50 ÷ 20 = 2.5rem;*/


/*给border 设置rem*/
border:.2rem solid #cccccc;
